dash>=2.14.0
dash-bootstrap-components>=1.6.0
dash-ag-grid>=31.0.0
finance-datareader
pykrx
pandas
numpy
yfinance
selenium
webdriver-manager
plotly
lxml
beautifulsoup4
html5lib
kaleido
telethon
google-genai
aiohttp
PyMuPDF
PyGithub==2.1.1
gunicorn
requests
